html
body{
    
    font-family:cursive;
}

.upper input{
    height:80px;
    width:50%;
    margin:20px auto;
    font-size:xx-large;
}
.upper #current-word{
    font-size:xxx-large;
}
.upper p{
    font-size:x-large;
}
.upper p #time{
    color:greenyellow;
}
.upper h4{
    font-weight:1000;
    font-size:xx-large;
}
.upper select{
    width:40%;
    height:40px;
    font-size:large;
}
#instructions{
    width:50%;
    text-align:center;
    margin:20px auto;
    border:2px inset;
    background-color:darkgray;
}
#instructions p{
    font-size:large;
    font-weight:500;
}
